@model Bookshelf.Models.Book
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Book Details";
}

<h1>Details</h1>
<br />
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Author
        </dt>
        <dd class="col-sm-10">
            @{int count = 0;}
            @foreach (var i in Model.AuthorsBooks)
            {
                count++;
                @if (Model.AuthorsBooks.Count == count)
                {
                    <span>@Html.DisplayFor(modelItem => i.Author.FullName)</span>
                }
                else
                {
                    <span>@Html.DisplayFor(modelItem => i.Author.FullName), </span>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Keywords
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.BooksKeywords)
            {
                <span class="badge badge-pill badge-dark">@Html.DisplayFor(modelItem => item.Keyword.KeywordID)</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-angle-left"></i> Back to Book Database</a>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-outline-dark" asp-controller="UserBooks" asp-action="Create" asp-route-BookID="@Model.BookID">Add to My Books <i class="fas fa-book-reader"></i></a>
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.BookID">Edit <i class="far fa-edit"></i></a>
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.BookID">Delete <i class="far fa-trash-alt"></i></a>
    }
    <br /><br />
    <a class="btn btn-outline-secondary" asp-controller="Keywords" asp-action="Index"><i class="fas fa-angle-left"></i> Back to Keywords list</a>
</div>
