@model Bookshelf.Models.Book

@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit</h1>
<br />
<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookID" />
            <div class="form-group">
                <label class="control-label" for="authors">Author</label>
                <select class="form-control" id="authors" name="selectedAuthors" multiple size="6">
                    @{
                        List<Bookshelf.Models.ViewModels.AssignedAuthorData> authors = ViewBag.Authors;

                        foreach (var author in authors)
                        {
                            @:<option value="@author.AuthorID" @(Html.Raw(author.Assigned ? "selected" : ""))>@author.FullName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="keywords">Keywords</label>
                <select class="form-control" id="keywords" name="selectedKeywords" multiple size="6">
                    @{
                        List<Bookshelf.Models.ViewModels.AssignedKeywordData> keywords = ViewBag.Keywords;

                        foreach (var keyword in keywords)
                        {
                            @:<option value="@keyword.KeywordID" @(Html.Raw(keyword.Assigned ? "selected" : ""))>@keyword.KeywordID</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "10" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@Model.BookID"><i class="fas fa-angle-left"></i> Back to Details</a>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
