@using Microsoft.AspNetCore.Identity
@model IEnumerable<Bookshelf.Models.Book>
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Books";
}

<h1>Book Database</h1>
<br />
<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-outline-success" asp-action="Create">Add A New Book +</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedOn)
            </th>
            <th></th>
            @if (SignInManager.IsSignedIn(User))
            {
            <th></th>
            }
           </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @foreach (var i in item.AuthorsBooks)
                    {
                        <span>@Html.DisplayFor(modelItem => i.Author.FullName)  </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedOn)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.BookID">Details</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.BookID">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
                    }
                    </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a class="btn btn-outline-dark" asp-controller="UserBooks" asp-action="Create">Add to My Books</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
