@model PaginatedList<Bookshelf.Models.Keyword>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Keywords";
}

<h1>Keywords</h1>
<br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color d-flex justify-content-between m-2 flex-wrap">
        <div>
            <input class="form-control w-auto d-inline-block" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-primary mb-1" />
            <a class="btn btn-outline-secondary mb-1" asp-action="Index">Full list</a>
        </div>
        <div>
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-outline-success" asp-action="Create">Add a new keyword <i class="fas fa-plus"></i></a>
            }
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Keyword <i class="fas fa-sort"></i></a>
            </th>
            <th></th>
            @if (SignInManager.IsSignedIn(User))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KeywordID)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="FindBooks" asp-route-id="@item.KeywordID">Find books <i class="fas fa-search"></i></a>
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>

                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.KeywordID">Delete <i class="far fa-trash-alt"></i></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-info @prevDisabled">
    <i class="fas fa-angle-left"></i> Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-info @nextDisabled">
    Next <i class="fas fa-angle-right"></i>
</a>
