@model Bookshelf.Models.UserBook


@{
    ViewData["Title"] = "Create";
}

<h1>Add Book</h1>
<br />
<h4>
    @{int count = 0;}
    @foreach (var authorbook in ViewBag.book.AuthorsBooks)
    {
        count++;
        @if (Enumerable.Count(ViewBag.book.AuthorsBooks) == count)
        {
            <span>@authorbook.Author.FullName</span>
        }
        else
        {
            <span>@authorbook.Author.FullName, </span>
        }
    }
</h4>
<h4 class="font-italic">
    @ViewBag.book.Title
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.userId" asp-for="ApplicationUserID" class="form-control" />
            <input type="hidden" value="@Model.BookID" asp-for="BookID" class="form-control"/>
            <div class="form-group">
                <label asp-for="BookStatus" class="control-label"></label>
                <select asp-for="BookStatus" class="form-control" asp-items="Html.GetEnumSelectList<BookStatus>()">
                    <option>Choose book status...</option>
                </select>
                <span asp-validation-for="BookStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                @Html.TextAreaFor(model => model.Review, new { @class = "form-control", @rows = "10" })
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-controller="Books" asp-action="Index"><i class="fas fa-angle-left"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
