@model Bookshelf.Models.UserBook

@{
    ViewData["Title"] = "Edit My Book";
}

<h1>Edit</h1>
<br />
<h4>
    @{int count = 0;}
    @foreach (var authorbook in Model.Book.AuthorsBooks)
    {
        count++;
        @if (Model.Book.AuthorsBooks.Count() == count)
        {
            <span>@authorbook.Author.FullName</span>
        }
        else
        {
            <span>@authorbook.Author.FullName, </span>
        }
    }
</h4>
<h4 class="font-italic">
    @Model.Book.Title
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationUserID" />
            <input type="hidden" asp-for="BookID" />
            <div class="form-group">
                <label asp-for="BookStatus" class="control-label"></label>
                <select asp-for="BookStatus" class="form-control" asp-items="Html.GetEnumSelectList<BookStatus>()">
                </select>
                <span asp-validation-for="BookStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                @Html.TextAreaFor(model => model.Review, new { @class = "form-control", @rows = "10" })
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-secondary" asp-action="Details"  asp-route-userId="@Model.ApplicationUserID" asp-route-bookId="@Model.BookID"><i class="fas fa-angle-left"></i> Back to Details</a>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
