@model IEnumerable<Bookshelf.Models.UserBook>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "My Books";
}

<h1>My Books (@User.Identity.Name)</h1>
<br />
<p>
    <a class="btn btn-outline-success" asp-action="Create">Add A New Book +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @foreach (var i in item.Book.AuthorsBooks)
                    {
                        <span>@Html.DisplayFor(modelItem => i.Author.FullName)  </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { ApplicationUserID = item.ApplicationUserID, BookID = item.BookID }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Edit", "Edit", new { ApplicationUserID = item.ApplicationUserID, BookID = item.BookID }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Delete", "Delete", new { ApplicationUserID = item.ApplicationUserID, BookID = item.BookID }, new { @class = "btn btn-outline-danger" })
            </tr>
        }
    </tbody>
</table>
